*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav{
    width: 100%;
    padding:10px;
    display: flex;
}

.para{
    display: flex;
    margin-right: 455px;
}

.para1{
    display: flex;
}

.para2{
    margin-left: 180px;
    font-size: 18px;
}

.para3{
    margin-left: 30px;
    font-size: 18px;
}

.para4{
    margin-right: 34px;
}

.color{
    color: white;
}

.track{
    height: 30px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid black;
    background-color: transparent;
}

.track:hover{
    color: white;
    background-color: rgb(5, 5, 69);
}

.nav1{
    width: 100%;
    background-color: black;
}

.image{
    margin-top: 5px;
    height: 80px;
    width: 250px;
    margin-left: 165px;
    margin-right: 90px;
}

.ul{
    display: flex;
    align-items: center;
}

.ul li{
    color: white;
    list-style-type: none;
    margin-right: 40px;
}

#search{
    height: 35px;
    width: 210px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding-left:30px ;
    font-size: 15px;
}

.icon{
    margin-left: -200px;
    color: white;
}


.ul a{
    color: white;
    text-decoration: none;
}

.ul a:hover{
    color: #f4c201;
}

.section{
    width: 100%;
    height: 520px;
    background: linear-gradient(rgba(66, 63, 63,0.2),rgba(66, 63, 63,0.2)),url(../images/breadcrumb-bg.jpg);
    /* background-position: center; */
    background-size: cover;
    overflow: hidden;
}

.box96{
  transform: scale(1.8);
  transition: all 0.5s ease-in-out;
  /* width: 100%; */
}


.para6{
    padding-top: 150px;
    /* margin-left: 185px; */
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    
}

.para8{
    margin-top: 10px;
    /* margin-left: 200px; */
    color: white;
    font-size: 14px;
    text-align: center;
}

.button2{
    margin-left: 610px;
    display: flex;
    margin-top: 40px;
}

.line4{
  text-decoration: none;
}

.button3{
    font-weight: bold;
    font-size: 9px;
    height: 39px;
    width: 144px;
    margin-right: 55px;
    border-radius: 10px;
    background-color:#f4c201;
    border: 2px solid #f4c201;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-top: -20px;
}
.icon2{
    font-weight: bold;
    font-size: 15px;
    display: flex;
    margin-left: 10px;
    padding-left: 10px;
}

/* .bas{
    display: none;
} */

.box49{
    height: 45px;
    width: 100%;
    background-color:  #192538;
}

.box50{
    margin-top: -45px;
    height: 45px;
    width: 100%;
    background: linear-gradient(#f4c201,#f4c201);
    clip-path: polygon(0 0, 60% 0%, calc(100% - 656px) 100%, 0% 100%);
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 200px;
}

.box50 a{
    text-decoration: none;
    color: black;
    
}

.box50 a:hover{
    color: #192538;
    font-size: 25px;
}

.section5{
    height: 800px;
    /* width: 100px; */
    display: flex;
    /* background-image: url(../images/about-bg.png); */
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
  }

  .mainbox8{
    margin-left: 200px;
    padding-top: 100px;
    width: 50%;
  }

  .head10{
    position: relative;
  }

  .head10::after{
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    height: 2px;
    width: 60px;
    background-color: black;
  }

  .para20{
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 18px;
    color: rgb(73, 72, 72);
    line-height: 25px;
  }

  .button7{
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    height: 65px;
    width: 550px;
    border: none;
    background-color: #192538;
    border-radius: 15px;
    font-weight: bold;
    color: white;
  }

  .button8{
    background-color: #f4c201;
    color: black;
    width:550px
  }

  .button9{
    margin-top: 30px;
    display: flex;
    align-items: center;
  }

  .para21{
    padding-left:40px;
  }

  .plus{
    margin-left: 360px;
  }

  .plus1{
    margin-left: 330px;
  }

  .plus2{
    margin-left: 190px;
  }

  .mainbox9{
    padding-top:150px;
    /* height: 740px; */
    /* margin-left: 20%; */
    width:50%;
  }

  .mainbox9 img{
    height: 400px;
    margin-left: -80px;
  }

  .mainbox9 img{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }

  .section12{
    height: 550px;
    width: 100%;
    background-image: url(../images/who-bg.png);
    background-repeat: no-repeat;
    margin-top: 130px;
    background-size: cover;
    background-position: center;
    padding-left: 200px;
    display: flex;
  }

  .box51{
    width: 50%;
    height: 350px;
  }

  .para33{
    margin-top: 15px;
    font-size: 18px;
  }

  .head20{
    position: relative;
  }

  .head20::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    height: 2px;
    width: 60px;
    background-color: black;
  }

  .para34{
    margin-top: 35px;
  }


  .box53{
    height: 350px;
    width: 50%;
  }

  .box54{
    height: 400px;
    width: 500px;
    background-color: #f4c201;
  }

  .box52{
    width: 50%;
    position: relative;
  }

  .box52 iframe{
    height: 400px;
    width: 550px;
    position: absolute;
    top: -500px;
    left: 760px;
  }

  .section14{
    height: 750px;
    width: 100%;
    background-color: rgb(243, 248, 248);
    text-align: center;
    padding-top: 90px;
  }

  .head21{
    position: relative;
  }

  .head21::after{
    content: "";
    position: absolute;
    top: 18px;
    left: 490px;
    height: 2px;
    width: 60px;
    background-color: black;
  }

  .head21::before{
    content: "";
    position: absolute;
    top: 18px;
    left: 970px;
    height: 2px;
    width: 60px;
    background-color: black;
  }

  .para35{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 70px;
  }

  .mainbox16{
    display: flex;
    margin-top: 30px;
  }

  .box55{
    height: 130px;
    width: 520px;
    box-shadow: 0px 0px 30px rgb(128, 126, 126);
    background-color: white;
    margin-right: 30px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    position: relative;
  }

  .box55::after{
    content: "";
    position: absolute;
    top: 20px;
    left: 140px;
    height: 90px;
    width: 2px;
    background-color: black;
  }

  .box56{
    margin-left: 220px;
  }

  .box55 img{
    height: 80px;
    width: 80px;
  }

  .head22{
    margin-top: 0px;
    margin-left: 50px;
    text-align: left;
    font-size: 18px ;
  }

  .box57{
    font-weight: bold;
    padding-bottom: 50px;
  }

  .link2{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .head13{
    margin-top: 80px;
    text-align: center;
    position: relative;
  }

  .para22{
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 100px;
  }

  .head13::after{
    content: "";
    position: absolute;
    top: 17px;
    left: 535px;
    height: 2px;
    width: 70px;
    background-color: black;
  }

  .head13::before{
    content: "";
    position: absolute;
    top: 17px;
    left: 915px;
    height: 2px;
    width: 70px;
    background-color: black;
  }

  

  .mainbox10{
    display: flex;
  }

  .mainbox11{
    display: flex;
    margin-top: -50px;
    margin-bottom: 50px;
  }

  .box20{
    height: 350px;
    width: 350px;
    /* border: 2px solid black; */
    border-radius: 15px;
    margin-left: 35px;
    background-image: url(../images/team-layer.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    text-align: center;
    box-shadow:0px 0px 10px rgb(94, 93, 93);
  }

  .icon4{
    margin-top: 170px;
    margin-bottom: 20px;
  }

  .para23{
    padding: 18px;
    font-size: 17px;
  }

  .box21{
    margin-left: 35px;
  }

  .box22{
    margin-left: 220px;
  }

  .box24{
    margin-left: 330px;
    margin-right: 240px;
  }

  .box25{
    margin-right: 230px;
  }

  .box21{
    height: 120px;
    width: 120px;
    border: 4px solid white;
    box-shadow: 0px 0px 10px rgb(76, 75, 75);
    border-radius: 50%;
    background-image: url(../images/client-1.jpg);
    background-size: cover;
    z-index: 3;
  }

  .box26{
    display: flex;
  }

  .box27{
    height: 50px;
    width: 50px;
    background-color:#192538;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  .box28{
    margin-left: 1235px;
  }

  .icon5{
    font-size: 35px;
    color: white;
  }


  .para15{
    margin-top: 120px;
    text-align: center;
    position: relative;
}

.para15::after{
    content: "";
    position: absolute;
    top: 20px;
    left:530px;
    height: 2px;
    width: 80px;
    background-color: black;
}

.para15::before{
    content: "";
    position: absolute;
    top: 20px;
    left:910px;
    height: 2px;
    width: 80px;
    background-color: black;
}

.para16{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.section2{
    height: 700px;
    width: 100%;
    background-image: url(../images/choose-bg.jpg);
}

.box7{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
}

.box8{
    height: 500px;
    width: 330px;
    /* border: 2px solid black; */
}

.box9{
    margin-left: -100px;
    margin-right: -50px;
}

.box10{
    margin-left: -105px;
}

.box11{
    margin-left: -40px;
    margin-right: -70px;
}

.para17{
    margin-top: 5px;
    margin-left: 24px;
    font-size: 18px;
}

.head5{
    font-size: 22px;
    margin-top: 55px;
    
}


.section7{
    height: 350px;
    width:100%;
    background-image: url(../images/subscriber-bg.jpg);
    margin-bottom: 120px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
  }


  .icon6{
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
  }

  .para24{
    font-size: 50px;
    margin-bottom: 20px;
    color: #f4c201;
    font-weight: bold;
  }


  .para25{
    font-size: 17px;
    margin-bottom: 20px;
    color: white;
  }

  .head17{
    text-align: center;
    position: relative;
    margin-left: 80px;
  }

  .head17::after{
    content: "";
    position: absolute;
    top: 20px;
    left: 530px;
    height: 2px;
    width: 70px;
    background-color: black;
  }

  .head17::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 840px;
    height: 2px;
    width: 70px;
    background-color: black;
  }

  .para29{
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .mainbox15{
    height: 800px;
    width: 100%;
    background-image: url(../images/blog-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
  }

  .box38{
    margin-top: 80px;
    height: 500px;
    width: 350px;
    background-color: rgb(247, 249, 248);
  }


  .box39{
    margin-left: 220px;
    margin-right: 30px;
  }

  .box40{
    margin-right: 30px;
  }

  .head18{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .para30{
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: bold;
  }

  .para31{
    margin-left: 20px;
    font-size: 18px;
    line-height: 30px;
  }

  .box41{
    display: flex;
    margin-left: 430px;
    margin-top: -50px;
  }

  .image6{
    width:350px;
    height:300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.5s;
}

  .box42{
    width:350px;
    height:300px;
    overflow: hidden;
}


.box38:hover .image6{
  transform: scale(1.1);
}

.box38:hover .head18{
  transition: all 0.5s;
  color: #f4c201;
}

.button12{
  height: 40px;
  width: 90px;
  background-color: #f4c201;
  color: black;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-color: #f4c201;
  margin-left: 260px;
  position: absolute;
  top: 7116px;
  left: 50;
}

.box36{
    height: 50px;
    width: 50px;
    background-color:#192538;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  .box37{
    margin-left: 690px;
  }

  .dot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
    margin-left: 20px;
  }

  .para28{
    font-size: 70px;
  }

  .dot1{
    color: #f4c201;
  }

  .section10{
    height: 300px;
    width: 100%;
    background-image: url(../images/callout-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -70px;
    padding-left: 200px;
  }
  
  .box41{
    margin-top: -120px;
    margin-bottom: 60px;
  }
  
  .head19{
    padding-top: 80px;
    margin-bottom: 25px;
  }
  
  
  #name2{
    height: 50px;
    width: 370px;
    background-color: white;
    color: black;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 15px;
    border: none;
  }
  
  #email2{
    height: 50px;
    width: 370px;
    background-color: white;
    color: black;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 15px;
    border: none;
    margin-left: 20px;
  }
  
  #submit{
    height: 50px;
    width: 370px;
    background-color:#192538;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 15px;
    border: none;
    margin-left: 20px;
    
  }
  
  #email2:focus{
    outline: 4px solid grey;
  }
  
  #name2:focus{
    outline: 4px solid grey;
  }
  
  .section11{
    height: 680px;
    width: 100%;
    background-color:#192538;
    display: flex;
    color: white;
    padding-top: 100px;
  }
  
  .image7{
    height: 60px;
    width:220px
  }
  
  .box43{
    height: 400px;
    width:200px;
    margin-left: 200px;
    font-size: 18px;
    line-height: 25px;
    margin-right: 40px;
  }
  
  .box45{
    margin-left: 120px;
    margin-right: 120px;
  }
  
  .space1{
    margin-bottom: 25px;
  }
  
  .box47{
    height: 400px;
    width:200px;
    font-size: 18px;
    line-height: 25px;
    margin-left: 120px;
  }
  
  .box43 i{
    margin-top: 20px;
  }
  
  .box47 img{
    height: 30px;
    width: 100px;
  }
  
  .box48{
    display: flex;
  }
  
  .image8{
    margin-left: 10px;
    height: 30px;
    width: 100px;
  }
  
  .bottom{
    display: flex;
    align-items: center;
    color: white;
    margin-top: -50px;
    margin-left: 200px;
  }
  
  .trapezoid {
      border-bottom: 50px solid #06101f;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      height: 40px;
      width: 405px;
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    justify-content: center;
  }
  
  .trapezoid i{
    padding-top: 20px;
    padding-right: 20px;
  }
  
  .yellow{
    text-decoration: none;
    color: white;
  }
  
  .yellow:hover{
    color: #f4c201
  }

  .section15{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 760px;
    width: 100%;
    background-image: url(../images/about-app.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .image9{
    margin-left: 10px;
    height: 60px;
    width: 150px;
  }

  .box59{
    height: 600px;
    width:350px;
    border:15px solid black;
    border-radius: 20px;
    /* background-image: url(file:///C:/Users/mshar/Desktop/Fullstack/Project/html/home.html); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-position 5s linear;
    cursor: pointer;
    }

    .box59 iframe{
      border-radius: 5px;
      border: none;
    }

    .box60{
        height: 400px;
        width: 650px;
        margin-left: 40px;
    }

    .head23{
        font-size: 90px;
        margin-top: 50px;
    }

    .para36{
        font-size: 18px;
        line-height: 25px;
    }

    .head24{
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .section21{
      height: 800px;
      /* width: 100px; */
      display: flex;
    }
    
  .mainbox24{
    height: 800px;
    /* margin-left: 20%; */
    width:50%;
    background-color: #192538;
    padding-top: 0;
  }

  
  .head11{
    margin-top: 100px;
    text-align: center;
    color: white;
  }

  .head12{
    text-align: center;
    color: #f4c201;
    margin-bottom: 20px;
    position: relative;
  }

  .box19{
    margin-left: 110px;
  }

  .line{
    height:40px;
    width:240px;
    background-color: #192538;
    border: none;
    border-bottom: 2px solid rgb(254, 252, 252);
    font-size: 16px;
  }
  
  #lastname,#email,#loading,#payload,#line2{
    margin-left: 20px;
    margin-top: 40px;
  }
  
  #line2{
    color: white;
    margin-left: 0px;
  }

  .line::placeholder{
    color: white;
  }

  .line3{
    margin-right: 20px;
  }

  .line:focus{
    background-color: white;
    border: 4px solid #163568;
    padding-left: 10px;
    outline: none;
  }


  #line2:focus{
    color: black;
  }


  option{
    color: black;
  }

  .button10{
    margin-top: 60px;
    height: 40px;
    width: 150px;
    font-size: 17px;
    color:black;
    background-color: #f4c201;
    border: none;
    border-radius: 15px;
  }

  .head12::after{
    content: "";
    position: absolute;
    top: 20px;
    left: 85px;
    height: 2px;
    width: 70px;
    background-color: white;
  }

  .head12::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 595px;
    height: 2px;
    width: 70px;
    background-color: white;
  }

  .mainbox23{
    height: 800px;
    width: 50%;
    padding-top: 0;
    margin-left: 0;
    background-image: url(../images/about-faq.jpg);
    background-size: cover;
  }

  
  .break1{
    display: none;
  }

  .break2{
    display: none;
  }

  
.image3 {
  height: 250px;
    width: 300px;
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

.break16{
  display: none;
}

.sticky{
  height: 60px;
  width: 60px;
  background-color: #f4c201;
  border-radius: 50%;
  position:fixed;
  margin-left: 1430px;
  margin-top: 500px;
  z-index: 3;
}

.arrow2{
  margin-top: 15px;
  margin-left: 15px;
  font-size: 30px;
  color: white;
  position: fixed;
}

.box155{
  margin-top: -330px;
  padding-left: 80px;
}

.box156{
  margin-top: -330px;
  padding-left: 120px;
  width: 320px;
}


  @media  screen and (min-width:0px) and (max-width:426px){

    

    .nav{
        height: 100px;
    }


    .para2{
        display: flex;
        margin-left: 10px;
        
    }

    .para2 i{
        padding-right: 10px;
    }

    .para3 i{
        padding-right: 10px;
    }

    .para3{
        margin-left: 10px;
    }


    .para{
        display: block;
        margin-top: 20px;
    }

    .nav1{
        padding: 15px;
        width:100%
    }

    .image{
        margin-left: 40px;
        height: 50px;
        width: 150px;
    }

    .para1{
        display: none;
    }

    .ul li{
        display: none;
    }

    #search{
        display: none;
    }

    .icon{
        display: none;
    }

    .bar{
        display: block;
        color: rgb(21, 21, 21);
        font-size: 30px;
    }

    .box{
        text-align: center;
        padding-top: 5px;
        margin-left: 20px;
        height: 40px;
        width:40px;
        background-color: white;
    }

    .para8{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px
    }

    .break4{
        display: none;
    }

    .button2{
        margin-left: 90px;
    }

    .para6{
        font-size: 17px;
    }

    .box50{
        margin-top: -45px;
        height: 45px;
        width: 70%;
        background: linear-gradient(#f4c201,#f4c201);
        clip-path: polygon(0 0, 100% 0%, calc(100% - 56px) 100%, 0% 100%);
        font-size: 18px;
        font-weight: bold;
        padding-top: 10px;
        padding-left: 40px;
    }

    .mainbox9{
        display: none;
    }

    .mainbox8{
        width: 100%;
        margin-left: 20px;
    }

    .para20{
        margin-left: 0px;
        padding-left: 0px;
        width: 350px;
    }

    .button7{
        width: 380px;
    }

    .plus{
        margin-left: 210px;
    }

    .plus1{
        margin-left: 180px;
    }

    .plus2{
        margin-left: 40px;
    }

    .section12{
        flex-direction: column;
        margin-left: 0;
        padding-left: 20px;
        background-image: none;
        width: 100%;
        height: 800px;
    }

    .box51{
        width: 100%;
        height: 600px;
        margin-left: 0;
        padding: 0;
        
    }

    .section13{
        width: 100%;
        height: 500px;
        background-image: url(../images/who-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* padding-left: -20px; */
    }

    .box54{
        width: 100%;
        
    }

    .box53{
        width: 100%;
        display: none;
    }

    .box52{
        position: relative;
        width: 100%;
    }

    .box52,.box53,.box54{
        display: none;
    }

    .box52 iframe{
        position: absolute;
        top:-10px;
        left:0px;
        width: 100%;
    }

    .section6{
        margin-top: 70px;
    }

    .head13::after{
        display: none;
    }

    .head13::before{
        display: none;
    }

    .mainbox10{
        flex-direction: column;
    }
    
    .mainbox11{
        flex-direction: column;
    }

    .box21{
        margin: 0;
        margin-left: 160px;
    }

    .box24,.box25,.box22,.box23{
        display: none;
    }

    .para22{
        margin-left: 10px;
    }

    .box27{
        margin-left: 70px;
    }

    .box20{
        margin-left: 40px;
    }

    .box28{
        margin-left: 140px;
    }

    .box9{
        display: none;
    }

    .para15::after{
        display: none;
    }

    .para15::before{
        display: none;
    }

    .para16{
        margin:6px;
    }

    .box7{
        flex-direction: column;
    }

    .box10{
        margin-top: -40px;
        margin-left: -40px;
    }

    .section2{
        height: 1100px;
    }

    .mainbox15{
        flex-direction: column;
      }
  
      .head17{
        margin-left: -20px;
      }
  
      .head17::after, .head17::before{
        display: none;
      }
  
      .box39,.box40{
        display: none;
      }
  
      .para29{
        margin-bottom: 30px;
      }
  
      .box41{
        margin-top: -200px;
        margin-left: -470px;
      }
  
      .box38{
        position: relative;
      }
  
      .button12{
        position: absolute;
        top:260px;
        bottom:0px;
      }

      
    .section10{
        flex-direction: column;
        padding-left: 10px;
        height:400px;
        padding-left:20px
      }
  
      #name2{
        margin-bottom: 20px;
      }
  
      #email2,#submit{
        margin-left: 0px;
        margin-bottom: 20px;
      }
  
      .section11{
        flex-direction: column;
        height:2100px;
        padding-left: 30px;
      }
  
      .box43,.box44,.box45,.box46,.box47{
        padding-left: 0;
        margin-left: 0;
  
      }
  
      .box44,.box45,.box46,.box47{
        margin-top: 20px;
      }
  
      .box44{
        padding-top: 90px;
      }
  
      .bottom{
        flex-direction: column;
        margin-top: -140px;
        width: 100%;
        margin-left: 0;
      }
  
      .trapezoid{
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .mainbox16{
        padding: 0;
        flex-direction: column;
        margin: 0;
        margin-left: 45px;
      }

      .head21::after{
        display: none;
      }

      .head21::before{
        display: none;
      }

      .box55::after{
        display: none;
      }

      .box55{
        margin: 0;
        padding: 10px;
        flex-direction: column;
        text-align: center;
        height: 200px;
        width: 330px;
        margin-bottom: 20px;
        padding-left: 0px;
      }

      .section14{
        height: 1700px;
      }

      .head22{
        text-align: center;
        margin-left: 0;
        font-size: 20px;
      }

      .box55 img{
        margin-bottom: 10px;
      }

      .section7{
        height: 1200px;
        width:100%;
        flex-direction: column;
    }

    .head15::after{
      display: none;
    }

    .head15::before{
      display: none;
    }

    .mainbox14{
      flex-direction: column;
      margin: 0;
    }

    .box38{
        margin-left: 40px;
    }

    .box41{
        margin-top: -150px;
        margin-left: -500px;
      }

    .head22 a{
        color: black;
        text-decoration: none;
    }

    .head22 a:hover{
        color: #f4c201;
    }

    
  .head7{
    padding-left: 0px;
    margin-left: 80px;
  }

  .head6{
    margin-left: 45px;
  }

  .head7::after{
    display: none;
  }

  .head7::before{
    display: none;
  }

  .box12{
    width: 370px;
    margin-left: 27px;
  }

  .box14{
    flex-direction: column;
  }
  
  .section3{
    height: 1000px;
  }

  .opasity{
    height: 1000px;
  }

  .mainbox7{
    height: 2195px;
  }

  .box13{
    margin-left: 31px;
  }

  .content{
    width:308px;
  }

  .section15{
    flex-direction: column;
    height: 1250px;
    padding-top: 100px;
  }

  .section21{
    flex-direction: column;
    height: 954px;
  }

  .mainbox23{
    display: none;
  }

  .mainbox24{
    width: 100%;
    height: 875px;
  }

  .box60{
    width: 90%;
    height: 700px;
  }

  .head23{
    font-size: 60px;
    margin-bottom: 20px;
  }

  .para36{
    font-size: 23px;
    width: 90%;
  }

  .box59{
    height: 430px;
  }

  .box59 iframe{
    height: 405px;
  }

  .head13{
    margin-top: 0;
  }

  .head12::after{
    display: none;
  }

  .head12::before{
    display: none;
  }

  #lastname, #email, #loading, #payload, #line2 {
    margin-left: 0px;
    margin-top: 0;
  }

  .line{
    width: 350px;
    height: 30px;
    margin-bottom: 20px;
    padding-top: 0;
    font-size: 12px;
  }

  .line3{
    margin-right: 0;
  }

  .head12{
    padding-bottom: 30px;
  }

  .button10{
    margin-top:30px;
    width: 350px;
  }

  .box19{
    margin-left: 40px;
  }

  .section11{
    flex-direction: column;
    height:1535px;
    padding-left: 30px;
  }

  .break16{
    display: block;
  }

  .button3{
    margin-left: 52px;
  }

  .shift{
    display: flex;
  }

  .box155{
    margin-top: 110px;
    padding-left: 90px;
  }

  .box156{
    padding-left: 55px;
  }

  .space9{
    width: 90px;
  }

  }