*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav{
    width: 100%;
    padding:10px;
    display: flex;
}

.para{
    display: flex;
    margin-right: 455px;
}

.para1{
    display: flex;
}

.para2{
    margin-left: 180px;
    font-size: 18px;
}

.para3{
    margin-left: 30px;
    font-size: 18px;
}

.para4{
    margin-right: 34px;
}

.color{
    color: white;
}

.track{
    height: 30px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid black;
    background-color: transparent;
}

.track:hover{
    color: white;
    background-color: rgb(5, 5, 69);
}

.nav1{
    width: 100%;
    background-color: black;
}

.image{
    margin-top: 5px;
    height: 80px;
    width: 250px;
    margin-left: 165px;
    margin-right: 90px;
}

.ul{
    display: flex;
    align-items: center;
}

.ul li{
    color: white;
    list-style-type: none;
    margin-right: 40px;
}

#search{
    height: 35px;
    width: 210px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding-left:30px ;
    font-size: 15px;
}

.icon{
    margin-left: -200px;
    color: white;
}


.ul a{
    color: white;
    text-decoration: none;
}

.ul a:hover{
    color: #f4c201;
}

.section{
    width: 100%;
    height: 520px;
    background: linear-gradient(rgba(66, 63, 63,0.2),rgba(66, 63, 63,0.2)),url(../images/breadcrumb-bg.jpg);
    /* background-position: center; */
    background-size: cover;
}

.para6{
    padding-top: 150px;
    margin-left: -70px;
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.para8{
    margin-top: 10px;
    /* margin-left: 200px; */
    color: white;
    font-size: 20px;
    text-align: center;
}

.button2{
    margin-left: 610px;
    display: flex;
    margin-top: 40px;
}

.line4{
  text-decoration: none;
}

.button3{
    font-weight: bold;
    font-size: 17px;
    height: 70px;
    width: 240px;
    margin-right: 55px;
    border-radius: 15px;
    background-color:#f4c201;
    border: 2px solid #f4c201;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon2{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    margin-left: 10px;
    padding-left: 10px;
}

/* .bas{
    display: none;
} */

.box49{
    height: 45px;
    width: 100%;
    background-color:  #192538;
}

.box50{
    margin-top: -45px;
    height: 45px;
    width: 100%;
    background: linear-gradient(#f4c201,#f4c201);
    clip-path: polygon(0 0, 60% 0%, calc(100% - 656px) 100%, 0% 100%);
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 200px;
}

.box50 a{
    text-decoration: none;
    color: black;
    
}

.box50 a:hover{
  color: #192538;
  font-size: 25px;
}


.section10{
    height: 300px;
    width: 100%;
    background-image: url(../images/callout-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -70px;
    padding-left: 200px;
  }
  
  .box41{
    margin-top: -120px;
    margin-bottom: 60px;
  }
  
  .head19{
    padding-top: 80px;
    margin-bottom: 25px;
  }
  
  
  #name2{
    height: 50px;
    width: 370px;
    background-color: white;
    color: black;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 15px;
    border: none;
  }
  
  #email2{
    height: 50px;
    width: 370px;
    background-color: white;
    color: black;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 15px;
    border: none;
    margin-left: 20px;
  }
  
  #submit{
    height: 50px;
    width: 370px;
    background-color:#192538;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 15px;
    border: none;
    margin-left: 20px;
    
  }
  
  #email2:focus{
    outline: 4px solid grey;
  }
  
  #name2:focus{
    outline: 4px solid grey;
  }
  
  .section11{
    height: 680px;
    width: 100%;
    background-color:#192538;
    display: flex;
    color: white;
    padding-top: 100px;
  }
  
  .image7{
    height: 60px;
    width:220px
  }
  
  .box43{
    height: 400px;
    width:200px;
    margin-left: 200px;
    font-size: 18px;
    line-height: 25px;
    margin-right: 40px;
  }
  
  .box45{
    margin-left: 120px;
    margin-right: 120px;
  }
  
  .space1{
    margin-bottom: 25px;
  }
  
  .box47{
    height: 400px;
    width:200px;
    font-size: 18px;
    line-height: 25px;
    margin-left: 120px;
  }
  
  .box43 i{
    margin-top: 20px;
  }
  
  .box47 img{
    height: 30px;
    width: 100px;
  }
  
  .box48{
    display: flex;
  }
  
  .image8{
    margin-left: 10px;
    height: 30px;
    width: 100px;
  }
  
  .bottom{
    display: flex;
    align-items: center;
    color: white;
    margin-top: -50px;
    margin-left: 200px;
  }
  
  .trapezoid {
      border-bottom: 50px solid #06101f;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      height: 40px;
      width: 405px;
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    justify-content: center;
  }
  
  .trapezoid i{
    padding-top: 20px;
    padding-right: 20px;
  }
  
  .yellow{
    text-decoration: none;
    color: white;
  }
  
  .yellow:hover{
    color: #f4c201
  }

  .section18{
    width:100%;
    height: 750px;
  }

  .mainbox19{
    display: flex;
  }

  .head28{
    padding-left: 200px;
    padding-top: 100px;
    position: relative;
  }

  .head28::after{
    content: "";
    position: absolute;
    top: 150px;
    left:200px;
    height: 2px;
    width: 80px;
    background-color: black;
  }

  .para45{
    padding-left: 200px;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .image13 img{
    padding-top: 100px;
    height: 450px;
    width: 600px;
  }

  .form1{
    height: 450px;
    width: 600px;
    background-color: #f4c201;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 80px;
  }

  .head29{
    padding-left: 55px;
    padding-top: 12px;
    color: white;
  }

  .arrow{
    margin-top: 50px;
    margin-left: 90px;
    margin-bottom: 30px;
    width: 400px;
    height: 50px;
    background: #192538;
    position: relative;
  }
  
  .arrow::after {
      content: '';
      position: absolute;
      left: 0; bottom: 0; width: 0; height: 0;
      border-left: 25px solid #f4c201;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
    }
  
  .arrow::before {
      content: '';
      position: absolute;
      right: -25px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 25px solid #192538;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
    }

    .select1{
      height:50px;
      width:230px;
      font-size: 15px;
      color: black;
      border-radius: 15px;
      border: none;
      padding: 10px;
      margin-top: 30px;
      margin-left: 40px;
    
    }

    .search{
      height:60px;
      width:230px;
      font-size: 15px;
      color: white;
      background-color: #192538;
      border-radius: 15px;
      margin-top: 30px;
      margin-left: 180px;
    }

    .lock{
      margin-top: -1000px;
      margin-bottom: 140px;
      margin-left: 370px;
      height: 530px;
      width: 400px;
    }

    .select1:focus{
      border: 4px solid grey;
      outline: none;
    }

    .section19{
      height: 600px;
      width: 100%;
      background-image: url(../images/branch-bg.png);
      background-size: cover;
    }

    .box65{
      width: 270px;
      height: 115px;
      background-color: white;
      border-radius: 20px;
      border: 1px solid rgb(219, 217, 217);
      padding: 8px;
      padding-top: 10px;
    }

    .box64{
      display: flex;
      padding-bottom: 20px;
    }

    .mainbox20{
      padding-left: 200px;
    }

    .box65{
      margin-right: 20px;
    }

    .box65 .para67{
      padding-top: 5px;
    }

    .box66{
      display: flex;
    }

    .para46{
      font-size: 17px;
      font-weight: bold;
      padding-right: 7px;
    }

    .box65:hover .para46{
      color: white;
    }
    
    .box65:hover .icon8{
      color: #f4c201;
    }

    .box65:hover{
      background-color: #192538;
      transition: all 0.8s;
    }

    .box65:hover .para67{
      color: white;
    }

    .para68{
      color: rgb(68, 68, 68);
    }

    .box65:hover .para68{
      color: white;
    }

    .sticky{
      height: 60px;
      width: 60px;
      background-color: #f4c201;
      border-radius: 50%;
      position:fixed;
      margin-left: 1430px;
      margin-top: 500px;
      z-index: 3;
    }
    
    .arrow2{
      margin-top: 15px;
      margin-left: 15px;
      font-size: 30px;
      color: white;
      position: fixed;
    }

    .ani{
      animation-name: ani1;
      animation-duration: 1s;
    }
    
    @keyframes ani1{
      0%{
        transform: scale(0.5);
      }
      100%{
        transform: scale(1);
      }
    }

    .box155{
      margin-top: -330px;
      padding-left: 80px;
    }
    
    .box156{
      margin-top: -330px;
      padding-left: 120px;
      width: 320px;
    }



@media  screen and (min-width:0px) and (max-width:426px){

    .nav{
        height: 100px;
    }


    .para2{
        display: flex;
        margin-left: 10px;
        
    }

    .para2 i{
        padding-right: 10px;
    }

    .para3 i{
        padding-right: 10px;
    }

    .para3{
        margin-left: 10px;
    }


    .para{
        display: block;
        margin-top: 20px;
    }

    .nav1{
        padding: 15px;
        width:100%
    }

    .image{
        margin-left: 40px;
        height: 50px;
        width: 150px;
    }

    .para1{
        display: none;
    }

    .ul li{
        display: none;
    }

    #search{
        display: none;
    }

    .icon{
        display: none;
    }

    .bar{
        display: block;
        color: rgb(21, 21, 21);
        font-size: 30px;
    }

    .box{
        text-align: center;
        padding-top: 5px;
        margin-left: 20px;
        height: 40px;
        width:40px;
        background-color: white;
    }

    .para8{
        padding-left: 20px;
        padding-right: 20px;
    }

    .break4{
        display: none;
    }

    .button2{
        margin-left: 90px;
    }

    .para6{
        font-size: 35px;
        margin-left: -10px;
    }

    .box50{
        margin-top: -45px;
        height: 45px;
        width: 70%;
        background: linear-gradient(#f4c201,#f4c201);
        clip-path: polygon(0 0, 100% 0%, calc(100% - 56px) 100%, 0% 100%);
        font-size: 18px;
        font-weight: bold;
        padding-top: 10px;
        padding-left: 40px;
    }



    
    .section10{
        flex-direction: column;
        padding-left: 10px;
        height:400px;
        padding-left:20px;
        /* margin-top: 2500px; */
      }
  
      #name2{
        margin-bottom: 20px;
      }
  
      #email2,#submit{
        margin-left: 0px;
        margin-bottom: 20px;
      }
  
      .section11{
        flex-direction: column;
        height:2100px;
        padding-left: 30px;
      }
  
      .box43,.box44,.box45,.box46,.box47{
        padding-left: 0;
        margin-left: 0;
  
      }
  
      .box44,.box45,.box46,.box47{
        margin-top: 20px;
      }
  
      .box44{
        padding-top: 90px;
      }
  
      .bottom{
        flex-direction: column;
        margin-top: -140px;
        width: 100%;
        margin-left: 0;
      }
  
      .trapezoid{
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .mainbox19{
        flex-direction: column;
        height: 1200px;
      }

      .box64{
        flex-direction: column;
      }

      .mainbox20{
        padding: 0;
      }

      .lock{
        display: none;
      }

      .section19{
        width: 100%;
        background-image: none;
        height: 1500px;
        margin-top: 480px;
      }

      .image13 img{
        width:418px;
        padding-top: 0;
      }

      .form1{
        width:97%;
        height: 580px;
        margin-left: 0;
        margin: 10px;
      }

      .arrow{
        width: 370px;
        margin-left: 10px;
        padding-left: 0px;
      }

      .select1{
        width:350px
      }

      .search{
        margin-left: 100px;
      }

      .head28{
        padding-left: 40px;
      }

      .head32{
        padding-top: 50px;
      }

      .head32::after{
        top:140px;
      }

      .head28::after{
        left:40px
      }

      .para45{
        padding-left: 40px;
      }

      .break22{
        display: none;
      }

      .box65{
        width: 395px;
        margin-left: 20px;
        margin-bottom: 20px;
      }

      .para68{
        margin-left: 120px;
      }

      .box64{
        background-image: url(../images/branch-bg.png);
        background-repeat: no-repeat;
      }

      .box68{
        margin-top: -20px;
        background-image: none;
      }

      .section11{
        flex-direction: column;
        height:1565px;
        padding-left: 30px;
      }

      
    .shift{
      display: flex;
    }
  
    .box155{
      margin-top: 110px;
      padding-left: 90px;
    }
  
    .box156{
      padding-left: 55px;
    }
  
    .space9{
      width: 90px;
    }
}